---
layout: default
---
 

  <div class="title">
    <a class="extra1" href="/Project-Ami/">News</a>
    <a class="extra" href="/Project-Ami/about.html">About</a>
    <a class="extra" href="http://github.com/SavourySnaX/Project-Ami/tree/master">Src</a>
    <a class="project">Project Ami</a>
  </div>

<h2>{{ page.title }}</h2>
 
{{ content }}
 
<small>Written by {{ page.author }}, {{ page.date | date_to_string }}</small>
 
  <ul class="posts">
    {% assign p = page.previous %}{% if p %}
    <li><span>Previous: {{ p.date | date_to_string }}</span> &raquo; <a href="/Project-Ami{{ p.url }}">{{ p.title }}</a></li>
    {% endif %}
    {% assign p = page.next %}{% if p %}
    <li><span> Next: {{ p.date | date_to_string }}</span> &raquo; <a href="/Project-Ami{{ p.url }}">{{ p.title }}</a></li>
    {% endif %}
  </ul>
